@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.row a{
    color: #fff;
    text-decoration: none;
}

.df{
    display: flex;
}

.row .cp{
    cursor: pointer;
}

.row img{
    width: 100%;
}

.row button{
    cursor: pointer;
}

.row{
    display: flex;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

/*/////////////// PANEL  ///////////////// */

.panel{
    width: 6%;
    display: flex;
    padding: 20px;
    height: 200px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.panel-icon{
    width: 40px;
}

/*/////////////// USER PANEL  ///////////////// */

.user-panel{
    width: 20%;
    height: fit-content;
    padding: 5%;
    text-align: center;
    border-radius: 10px;
    background-color: #292929;
}

.user-panel p{
    font-weight: 500;
}

.user-panel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-panel span{
    font-size: 25px;
    margin-left: 5%;
    color: #F7B801;
}

/*/////////////// COMMUNITIES  ///////////////// */

.communities{
    padding: 10px;
}

.communities-box{
    margin-bottom: 15%;
}

.communities-name{
    text-align: start;
}

/*/////////////// POSTS  ///////////////// */

.posts-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3%;
}

.posts{
    width: 80%;
    padding-left: 5%;
}

.posts-input{
    width: 95%;
}

.posts-input input{
    width: 100%;
    padding: 2%;
    background-color: #353642;
    outline: none;
    border-radius: 5px;
    border: 2px solid #F7B801;
    color: #fff;
}

.posts-button{
    width: 15%;
}

.posts-button button{
    width: 100%;
    padding: 11%;
    font-weight: 600;
    color: #000;
    border: none;
    border-radius: 5px;
    background-color: #F7B801;
}

.news-box{
    margin-top: 3%;
    border-radius: 5px;
    border: 2px solid #808080;
}

.news-box-container{
    width: 90%;
    margin: 40px auto 0;
}

.news-name{
    display: flex;
}

.news-ava{
    margin-right: 20px;
}

.news-name p{
    margin: 0 0 10px;
}

.news-icons{
    display: flex;
    margin-top: 10px;
}

.news-icons .icon{
    font-size: 30px;
}

.news-icons .likes{
    color:#F7B801;
}

.news-icon{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.news-comments-container{
    border-top: 2px solid #808080;
    padding: 10px 35px 35px 35px;
}

.news-comments{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.news-user-ava{
    width: 8%;
    margin-right: 10px;
}

.user-comment{
    display: flex;
    align-items: center;
}

.user-comment-input{
    width: 100%;
    display: flex;
}

.user-comment input{
    padding: 3%;
    width: 95%;
    background-color: #353642;
    outline: none;
    border-radius: 15px;
    border: 2px solid #F7B801;
    color: #fff;
}

.user-comment-button{
    padding: 3%;
    font-weight: 600;
    color: #000;
    border: none;
    border-radius: 15px;
    background-color: #F7B801;
    margin-left: 10px;
}

/*/////////////// COMMUNITIES  ///////////////// */

.communities-container{
    width: 100%;
    padding: 0 4%;
}

.communities-name{
    justify-content: space-between;
    padding: 3% 0;
    border-bottom: 2px solid #808080;
}

.communities-description{
    margin-left: 10px;
}

.communities-title{
    margin: 0;
}

.communities-button{
    display: flex;
    align-items: end;
}

.communities-button button{
    border-radius: 5px;
    border: 2px solid #F7B801;
    background-color: #353642;
    color: #fff;
    padding: 10px 20px;
}

.communities-icons{
    display: flex;
    align-items: center;
}

.communities-icon{
    font-size: 20px;
}

.communities-information{
    border-radius: 5px;
    border: 2px solid #808080;
    margin: 3% 0;
}

.information-name{
    border-bottom: 2px solid #808080;
}

.information-container{
    padding: 1% 3%;
}

.information-container a{
    color: #FFB61D;
}


/*/////////////// MEDIA  ///////////////// */

@media screen and (max-width: 2560px) {

    .user-panel{
        width: 25%;
    }
    .posts-input{
        width: 100%;
    }
    .posts-button{
        width: 14%;
    }
    .posts-input input{
        border-radius: 15px;
    }
    .posts-button button{
        border-radius: 15px;
    }
    .user-comment input{
        width: 80%;
    }
    .user-comment-button{
        width: 10%;
    }
}



