
.ant-input-affix-wrapper{
    background-color: #222227 !important;
}

.all{
    display: flex;
    width: 100%;
    height: 100vh;
}

.forma{
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 0 5%;
    overflow-y: hidden;
}

.inputs{
    display: flex;
    justify-content:center;
}
.left-forms{
    margin: 0%;
    padding: 0 10% 0 0;
}
.right-forms{
    margin: 0%;
    padding: 0 0 0 10%;
}
.label-set{
    color: #808080;
}
#basic{
    display: flex;
}
.ant-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0% !important;
    padding: 0% !important;
}
.confirm{
    display: flex;
    justify-content: center;
    
}

.ant-form-item-control-input-content input{
    background-color: #222227;
    color: #fff;
}

.anticon svg{
    color: #fff;
}


button, input {
    overflow: visible;
}

.input-class {
    display: flex !important;  
    justify-content: space-around !important;
    width: 100% !important;
    padding: 10px 30px !important;
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #FFB61D !important;
    border-radius: 10px !important;
}

.ant-input-affix-wrapper > input.ant-input {
    background: rgb(0,0,0, 0);
}