
.ant-input-affix-wrapper{
    background-color: #222227 !important;
}


.forma{
    /* display: flex; */
    width: 100%;
    height: auto;
    /* height: 100vh; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    align-items: center;
    padding: 0 5%;
}
.inputs{
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    justify-content:center;
}
.left-forms{
    /* display: flex !important; */
    /* flex-direction: column !important; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    margin: 0%;
    padding: 0 3% 0 0;
    /* width: 50% !important; */
}
.right-forms{
    /* display: flex; */
    /* width: 50%;  */
    margin: 0%;
    padding: 0 0 0 3%;
    /* flex-direction: column; */
    /* justify-content:center; */
    /* align-items: flex-end; */
}
.label-set{
    color: #808080;
}
#basic{
    display: flex;
}
.ant-form{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0% !important;
    padding: 0% !important;
}
.confirm{
    display: flex;
    /* padding-bottom: 300px; */
    justify-content: center;
    
}

.ant-form-item-control-input-content input{
    background-color: #222227;
    color: #fff;
}

.anticon svg{
    color: #fff;
}


button, input {
    overflow: visible;
}

.input-class {
    display: flex !important;  
    justify-content: space-around !important;
    width: 100% !important;
    padding: 10px 30px !important;
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #FFB61D !important;
    border-radius: 10px !important;
}

.ant-input-affix-wrapper > input.ant-input {
    background: rgb(0,0,0, 0);
}